.wrapper {
  display: grid;
  background: black;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:  "header header"
                        "image biography" 
                        "reference footer";
  font-family: "Calibri", arial, sans-serif;
}

@media screen and (max-width: 736px) {
  .wrapper {
    display: grid;
    background: black;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:  "header" 
                          "image" 
                          "biography" 
                          "reference" 
                          "footer";
    grid-gap: 00px;
    grid-gap: 10px;
    font-family: "Calibri", arial, sans-serif;
  }
}

.header {
  font-weight: bold;
  grid-area: header;
  background: DARKSLATEGRAY;
  color: LIGHTGRAY;
  padding: 10px;
  text-align: center;
  font-size: 24px
}

.biography{
  grid-area: biography;  
  color:DARKGRAY;
  background: null;  
  padding: 20px;
  text-align: justify;
}

.image{
  grid-area: image;    
  padding: 20px;
}

.imagePicture{
  max-width:100%;
  border-radius: 3px;
}

.reference{
  grid-area: reference;    
  background: DARKSLATEGRAY;  
  color: LIGHTGRAY;
  padding: 10px;
  margin:20px 20px 20px 20px;
}

.footer{
  background:#262626;  
  padding: 10px;
  color: LIGHTGRAY;
    margin:20px 20px 20px 20px;

}


/* Link Formatting */

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: lightblue;
}

/* mouse over link */
a:hover {
    color: red;
}
